<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>404</title>
		<link rel="stylesheet" href="<%= basePath %>/vendor/bootstrap-5.3.6/css/bootstrap.min.css" />
	</head>
	<body class="bg-dark text-white d-flex justify-content-center align-items-center vh-100 text-center">
		<div>
			<h1>Barotraumgemeinde | 404</h1>
			<h2>Page not found</h2>
			<a href="<%= basePath %>/dashboard" class="btn btn-primary mt-3">Return to dashboard</a>
		</div>
	</body>
</html>
