<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Barotraumgemeinde | Dashboard</title>
		<link rel="stylesheet" href="/vendor/bootstrap-5.3.6/css/bootstrap.min.css" />
	</head>
	<body class="bg-dark text-white">
		<div class="container py-5">
			<h1 class="text-center mb-4">Barotraumgemeinde Control Panel</h1>
			<h2 class="text-center mb-5">Servers</h2>
			<div id="servers" class="row g-4 justify-content-center">
				<% for(let i = 0; i < servers.length; i++) { %>
				<div class="col-md-4">
					<div class="card bg-secondary text-white">
						<div class="card-body">
							<h5 class="card-title"><%= servers[i].name %></h5>
							<form action="/dashboard/restart" method="post">
								<input type="text" name="id" value="<%= servers[i].id %>" hidden />
								<button type="submit" class="btn btn-primary w-100 mt-3">Restart</button>
							</form>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</body>
</html>
